/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans&family=Poppins:wght@500&family=Satisfy&family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
}

/* common or utilities class */
body {
    background: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 870px;
    margin-top: 21px;
}

.section-tittle {
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* navbar*/
.navbar {
    background: #562EFF;
    height: 94px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo img {
    width: 40.424px;
    height: 51px;
}

.header-tittle {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

/* ----------------
top player section 
------------------ */
.top-players {
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 16px;
}

/* --------
top blog
-------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 15px;
}

.blog-tittle {
    font-size: 20px;
    font-weight: 500;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
    font-weight: 400;
}

/* -----------
latest courses 
-------------- */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 34px;
}

.course img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-duration {
    border-radius: 14.691px;
    background: var(--ffe-4-e-8, #FFE4E8);
    color: #FF4A60;
    width: 95px;
    height: 30px;
    font-size: 15px;
}

/* -------
responsive
---------- */

@media only screen and (max-width: 688px) {
    .navbar {
        height: 262px;
        flex-direction: column;
        width: 100%;
    }
    .navbar ul {
        gap: 15px;
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        flex-direction: column;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .courses {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 26px;
    }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {}